*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul 
{
    list-style: none;
}

header 
{
    height: 60px;
    width: 100%;
    background-color: #CC9CDF;
}
ul#header
{
    height: 100%;
    width: 100%;
}
li#logo
{
    width: auto;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
}
img#logo
{
    width: 100%;
    height: auto;
    align-items: center;
}